
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    padding: 0;
    margin: 0;
}

body {
    background-color:black;
    height: 100vh;
    font-family: 'quicksand', sans-serif;
    text-align: center;
    padding: 0;
    border: 0;
}

.button {
    border-color: #ffffff;
}
.card {
    //border-radius: 20px;
    height: 100%;
}


.hero.has-background {
    position: relative;
    overflow: hidden;
  }
.hero-background {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }
.hero-background.is-transparent {
    opacity: 0.3;
  }