
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand&display=swap');

* {
    font-family: 'Indie Flower', sans-serif !important;
}

html {
    background-color: #222222;
}

#container2 {
    border-radius: 20px;
    /* background-color: #34393E; */
    background-image: url('https://drive.google.com/uc?id=17KcHtU3LGiLWby_8jNlDkNbdKQfEEeU5&authuser=josh%40joshtaylordesign.com&usp=drive_fs') !important;
    /* height: 500px; You must set a specified height */
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    box-shadow: 5px, 5px, 20px, 50;
}

.uk-card-body {
    border-radius: 15px;
    
    box-shadow: 5px, 5px, 20px, 50;
}

.image-header {
    background-image: url("https://drive.google.com/file/d/17NbSJdatzDNrG7HcAgj01NmE54Ip2VRT/uc?usp=sharing" alt="Paw Pair");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    }

#startQuiz {
    border-radius: 10px !important;
    border-color: #FF7979 !important;
    border-width: 2px !important;
    color:#FF7979 !important;
    font-size: 200% !important;
}

#savedPets {
    border-radius: 10px;
    border-color: #FF7979 !important;
    border-width: 2px;
    color:#FF7979 !important;

    /* color:#FEDB29; */
    font-size: 115%;
}

button:first-child {
    border-radius: 10px !important;
    border-color: #FF7979 !important;
    border-width: 2px !important;
    color:#FF7979 !important;
}

button {
    border-radius: 10px !important;
    border-color: #FEDB29 !important;
    border-width: 2px !important;
    color:#FEDB29 !important;
    font-size: 115% !important;
}

#playAgain {
    background-color:#222222;
}

p {
    font-size: 150%;
}


.uk-card-default {
    background-color:#222222;
    height: 86vh;

}

.uk-card-default p {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 80%;
}

img {
    border-radius: 10px;
    width: 100vw; 
    height: 40vh; 
    object-fit: cover;
}

#layer_1 {
    width: 50vw !important;
    }

.uk-badge {
    font-family: 'quicksand', sans-serif !important;
    font-weight:700;
    margin-right: 10px;
}

.uk-card-body h1 {
    margin-bottom: 2;
}

.st0{fill:#65C3A1;}
.st1{fill:#C5494A;}
.st2{fill:none;stroke:#F37879;stroke-width:2;stroke-miterlimit:10;}